
body {
    background: #f7f2f1;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, Helvetica, Verdana;

}

body.dark{
    background: #030303;
    color: white;
}


/* Dark mode theme dit is voor alle darkmode dingen */
body.dark{
    body.dark{
        background: #0c0a09;
        color: white;
    }


    .gamen, .lopen, .muziek{
        background-color: #27272a;
        box-shadow: #00c3ff 1px 2px 10px;
    }

    .watikleukvind, .mijnverhaal{
        background-color: #030303;
        box-shadow: #00c3ff 1px 2px 10px;
    }

    .watikleukvind:hover, .mijnverhaal:hover{
        box-shadow: #00c3ff 1px 5px 10px;
    }

    .darker {
        background-color: #050505;
    }

    #eten, footer, .email, .teams, .locatie, .volgme {
        background-color: #030303;
    }


    .volgme button{
        color: #000000;
    }

    .volgme button:hover{
        background: linear-gradient( to bottom left, rgb(250, 250, 250), #7bc5ff);
    }

   .hoek, .normaal{
        background-color: rgb(0, 0, 0);
       box-shadow: #00c3ff 1px 2px 10px;
    }

    button{
        background-color: #ffffff;
        box-shadow: #00c3ff 1px 0px 20px;
    }

    button, fa{
        color: #000000;
    }

    header{
        background-color: #030303;
        border: #00c3ff 1px solid;
        box-shadow: #00c3ff 0px 0px 5px;
        border-right: none;
        border-top: none;
        border-left: none;
    }

    nav a{
        background-color: #030303;
    }

    .dropdown-content{
        background-color: #030303;
    }
}


button{
    border: none;
    box-shadow: #ffffff 1px 0px 20px;
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    background-color: #030303;
    padding: 10px;
    margin-right: 30px;
    width: 5%;
}


/*button{*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    margin: 30px;*/
/*    font-size: 18px;*/
/*    position: relative;*/
/*    top: auto;*/
/*    margin: 0px;*/
/*    border: none;*/
/*    padding: 0px;*/
/*    background-color: transparent;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*}*/

/*button:hover {*/
/*    color: #7BDFF2;*/
/*    transition: color 0.5s;*/
/*}*/

/* Dit helpt mij met de design */
/* section {
        padding: 20px;
        margin: 20px;
        background-color: #202c3cac;
        border: gray 1px solid;
} */



section h2 {
    font-size: 28px;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10rem;
    height: 35rem;
}

#home h2 {
    font-size: 48px;
    margin-bottom: 40px;
}

#home p {
    font-size: 24px;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}

.darker {
    background-color: #e3e3e3;
    padding-bottom: 2rem;
    display: flex;                  /* activeer flexbox */
    flex-direction: column;         /* onder elkaar zetten */
    align-items: center;
    padding-bottom: 11rem;
}



.darker h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 70px;
}

.darker p {
    font-size: 20px;
    margin-bottom: 6%;
    text-align: center;
}
.profile-pic {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border: 2px solid #7BDFF2;
}

.profile-pic:hover {
    transition: height 2.5s;
    transition: width 2.5s;
    box-shadow: #7BDFF2 0px 0px 15px;
    height: 295px;
    width: 320px;
    border-radius: 0;
}

/* dit werkt nog niet */
/* .big-pic {
   border:#7BDFF2 4px solid;
    display: block;
    border-radius: apply;
    width: 650px;
    height: 425px;
    float: right;
    margin-right: 7%;
    margin-top: 4%;
    box-shadow: #010101 0px 0px 15px;
} */


.mijnverhaal, .watikleukvind {
   background-color: #f7f2f1;
   border: #334155 1px solid;
   border-radius: 15px;
   text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
    height: auto;
    margin-bottom: 50px;
    box-shadow: #090d11ac 21px 20px 10px;
    margin: 10px;
    max-width: 40rem;
    max-height: 10rem;
}



.mijnverhaal:hover{
    box-shadow: #7BDFF2 21px 20px 10px;
}

.watikleukvind:hover{
    box-shadow: #7BDFF2 21px 20px 10px;
}
/* .big-pic:hover {
    transform: scale(1.15);
    transition: transform 1.5s;
    box-shadow: #7BDFF2 0px 0px 25px;
} */

#familie{
    /*border: #010101 2px solid;*/
    padding-bottom: 16%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.normaal {
    position: relative;
}

.normaal .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #f7f2f1;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 42%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 3.5s;
    border: #7BDFF2 1px solid;
}

.normaal:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    color: black;
}

#familie h2, p{
    text-align: center;
}   

.fam-cards{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; /* wat hier gebeurt is dat het dat er evenveel ruimte tussen alles zit dit merk je vooral in een kleine window */
}

.hoek:hover, .normaal:hover{
    border: #7BDFF2 1px solid;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}



.hoek, .normaal{
        background-color: #e3e3e3;
        border-radius: 5%;
        border: #334155 1px solid;
        text-align: center;
        box-shadow: #090d11ac 20px 10px 7px;
        height: 20rem;
        width: 12rem;
        font-size: 14px;
}

.hoek img, .normaal img{
    height: 40%;
    border-radius: 10%;
    width: 75%;
    padding: 5%;
}

.hob-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: #010101 2px solid; */
    gap: 20px;
    margin: 40px;
}

.gamen, .lopen, .muziek{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #000000 1px solid;
    border-radius: 3%;
    background-color: #f8f8f8;
    box-shadow: #090d11ac 1px 10px 10px;
    width: 300px;
    height: 400px;

}


.gamen:hover, .lopen:hover, .muziek:hover{
   transform: scale(1.01);
}




.gamen h3, .lopen h3, .muziek h3{
    text-align: left;
}
.gamen p, .lopen p, .muziek p{
    text-align: left;
}

.gamen img, .lopen img, .muziek img{
    height: 9rem;
    width: 10rem;
    border-radius: 10%;
    margin-top: 1.5rem;
}

#opleiding{
    text-align: center;
    /* border:#010101 1px solid; */
    display: block;
    padding-top: 5rem;
}

#opleiding p{
    margin-bottom: 3.5rem;
}

.school-cards{
    /* border: #000000 1px solid; */
    display: flex;                  /* activeer flexbox */
    flex-direction: column;         /* onder elkaar zetten */
    align-items: center;            /* horizontaal centreren */
    
}


.huidigeopleiding, .middelbareschool, .bassischool{
    border: #334155 1px solid;
    width: 57.813rem;
    height: 18.375rem;
    text-align: left;
    font-size: 14px;
    margin-bottom: 1.9rem;
    border-radius: 10px;
    box-shadow: #1E293B 3px 3px 10px;
}

.huidigeopleiding p, .middelbareschool p, .bassischool p{
    text-align: left;
    margin-left: 20px;
}

.huidigeopleiding h3, .middelbareschool h3, .bassischool h3{
    text-align: left;
    margin-left: 20px;
    color: #00c3ff;
}

.huidigeopleiding h4, .middelbareschool h4, .bassischool h4{
    text-align: left;
    margin-left: 20px;
}

div time{
    color: grey;
}



#projecten{
    text-align: center;
    margin-top: 5%;
    /* border:#010101 1px solid; */
    display: block;
    padding-top: 5rem;
    margin-bottom: 12rem;
}

#projecten h3, p{
 margin: 1%;
}

#projecten img{
    height: 50px;
    width: 50px;
}

.projecten-cards{
    /* border: #000000 1px solid; */
    display: flex;                  /* activeer flexbox */
    flex-direction: column;         /* onder elkaar zetten */
    align-items: center;            /* horizontaal centreren */
    
}

.text{
    margin: 2%;
}


.cards, .soon{
    border: #334155 1px solid;
    height: 8rem;
    width: 49%;
    margin-bottom: 2%;
    border-radius: 15px;
    box-shadow: #090d11ac 1px 10px 10px;
    display: flex;
    align-items: center;          /* verticaal centreren */
    padding: 1rem;
}

.tag {
    margin-right: 2%;
    border-radius: 10px;
    padding: 5px;
}

.school{
    background: red;
}

.home{
    background-color: #005be3;
    border: #116cf5 1px solid;
}

#beoordeling {
    display: flex;
    flex-direction: column;
    background: #e3e3e3;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.post {
    background-color: #f7f2f1;
    border: #334155 1px solid;
    border-radius: 15px;
    padding: 20px;
    width: 25rem;
    box-shadow: #090d11ac 20px 10px 7px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

/* Titel donkerder en opvallender */
.post-title {
    font-size: 26px;
    margin: 0;
    color: #1e293b;
    font-weight: 900;
    text-shadow: 1px 1px 4px #cbd5e1;
    background: rgba(30, 41, 59, 0.24);
    border-radius: 12px;

}

/* Beschrijving */
.post-description {
    font-size: 16px;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.post-rating {
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    background-color: #ffffff;
    border: 2px solid #1e293b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 12px #1e293b4d;
}

/* Hover effect */
.post:hover {
    box-shadow: #7BDFF2 20px 10px 10px;
    transition: 0.3s;
}


footer {
    /* border: #000000 8px solid; */
    background-color: #f7f2f1;
    height: auto;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 3rem;
}


footer div{
    height: 220px;
    width: 41.875rem;
    background-color: #e3e3e3;
    flex-wrap: wrap;
    border: #334155 1px solid;
    border-radius: 10px;
    padding: 1%;
    box-shadow: #090d11ac 10px 5px 10px;
}

footer aside{
    height: 24px;
    width: 24px;
    padding: 12px;
    border-radius: 15px;
}

.email aside{
    background: linear-gradient( to bottom right, #8fc3f4, #00AFE3);
}

.teams aside{
    background: linear-gradient( to bottom right, #4F2C91, #6264A7);
}

.locatie aside{
    background: rgba(33, 177, 33, 0.41);
}


footer h2 {
   font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 70px;
}

footer p {
    font-size: 20px;
    margin-bottom: 6%;
    text-align: center;
}


/* hier zie je dat alle p in een div in de footer worden aangepast */
footer div p {
    text-align: start;
    font-size: 15px;
}


.email:hover{
    transform: scale(1.03);
    background: #043f8438;
    border: #023b4d 1px solid;
    transition-duration: 500ms;
    transition-delay: 20ms;

}

.teams:hover{
    transform: scale(1.03);
    background-color: #4f2c9137;
    border: #023b4d 1px solid;
    transition-duration: 500ms;
    transition-delay: 20ms;

}

.locatie:hover{
    background: linear-gradient( to bottom right, rgba(14, 151, 47, 0.34), rgba(107, 214, 112, 0.42));
    transform: scale(1.03);
    transition-duration: 500ms;
    transition-delay: 20ms;
}


.volgme:hover{
    background: linear-gradient( to bottom right, #4f2c9137, #0a0a1e);
    transform: scale(1.02);
    transition-duration: 500ms;
    transition-delay: 20ms;

}

.volgme img{
    height: 40px;
}
.volgme button{
    background: #000000;
        width: 42rem;
        border: black solid 1px;
        border-radius: 5px;
    }

.volgme button:hover{
    background: linear-gradient( to bottom right, #4f2c9137, #0a0a1e);
}

footer .volgme h3{
    margin-bottom: 40px;
}

footer .volgme a{
    border: #101828 5px solid;
    background-color: #101828;
    color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-right: 400px;
    text-decoration: none;
}

.volgme a{
    transform: scale(1.3);
}

