
body {
    background: linear-gradient(to bottom right, #1E293B, #334155);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, Verdana;

}

header {
    display: flex;
    align-items: center; /* zorgt dat tekst verticaal gecentreerd is */
    justify-content: space-between; /* titel links, nav rechts */
    flex-wrap: wrap; /* laat elementen naar een nieuwe regel springen als er geen ruimte is */
    background-color: #202c3cac;
    backdrop-filter: blur(10px);
    color: white;
    text-align: left;
    height: auto;
    position: sticky;
    top: 0;
    border: #334155 1px solid;
    box-shadow: #010101 0px 0px 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    z-index: 1000;
    padding: 10px 20px;
}

/* Logo of terwijl waar nu staat mijn portfolio*/
header h1 {
    margin: 0; /* margin reset */
    font-size: 24px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap; /* laat menuitems naar volgende regel gaan */
}


nav a {
    color: white;
    text-decoration: none;
    margin: 30px;
    font-size: 18px;
    position: relative;
    top: auto;
    
}

nav a:hover {
    color: #7BDFF2;
    transition: color 0.5s;
}


button {
    background-color: #7bdef2e8;
    color: #1E293B;
    border: none;
    padding: 5px 15px;
    border-radius: 7px;
    font-size: 15px;
    box-shadow: black 2px 10px 7px;
    font-family: monospace;
}

button:hover{
   box-shadow: #7BDFF2  2px 8px 6px;
   color: white;
}

/* Dit helpt mij met de design */
/* section {
        padding: 20px;
        margin: 20px;
        background-color: #202c3cac;
        border: gray 1px solid;
} */

section h2 {
    font-size: 28px;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    height: 35rem;
}

#home h2 {
    font-size: 48px;
    margin-bottom: 40px;
}

#home p {
    font-size: 24px;
    margin-bottom: 40px;
    color: rgb(210, 210, 210);
}

#about {
    background-color: #202c3cac;
    padding-bottom: 2rem;
    display: flex;                  /* activeer flexbox */
    flex-direction: column;         /* onder elkaar zetten */
    align-items: center;
    padding-bottom: 11rem;


}


#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 70px;
}

#about p {
    font-size: 20px;
    margin-bottom: 6%;
    text-align: center;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #7BDFF2;
    margin-bottom: 30px;
}

.profile-pic:hover {
    transform: scale(1.15);
    transition: height 2.5s;
    transition: width 2.5s;
    box-shadow: #7BDFF2 0px 0px 15px;
    height: 195px;
    width: 320px;
    border-radius: 0;
}

/* dit werkt nog niet */
/* .big-pic {
   border:#7BDFF2 4px solid;
    display: block;
    border-radius: apply;
    width: 650px;
    height: 425px;
    float: right;
    margin-right: 7%;
    margin-top: 4%;
    box-shadow: #010101 0px 0px 15px;
} */


.mijnverhaal, .watikleukvind {
   background-color: #202c3cac;
   border: #334155 1px solid;
   border-radius: 15px;
   text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
    height: auto;
    margin-bottom: 50px;
    box-shadow: #090d11ac 21px 20px 10px;
    margin: 10px;
    max-width: 40rem;
    max-height: 10rem;

}

.mijnverhaal:hover{
    box-shadow: #7BDFF2 21px 20px 10px;
}

.watikleukvind:hover{
    box-shadow: #7BDFF2 21px 20px 10px;
}


#about button {
    display: block;
    margin-left: 29%;

}

/* .big-pic:hover {
    transform: scale(1.15);
    transition: transform 1.5s;
    box-shadow: #7BDFF2 0px 0px 25px;
} */

#familie{
    /* border: #010101 2px solid; */
    padding-bottom: 12%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#familie h2, p{
    text-align: center;
}   

.fam-cards{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; /* wat hier gebeurt is dat het dat er evenveel ruimte tussen alles zit dit merk je vooral in een kleine window */


}

.ouders:hover, .broer:hover, .zus:hover, .huisdieren:hover{
    border: #7BDFF2 1px solid;
}
.ouders:hover{
    border: #7BDFF2 1px solid;
    box-shadow: -20px -10px 7px#7BDFF2 ;
}
.huisdieren:hover{
    border: #7BDFF2 1px solid;
    box-shadow: #7BDFF2 20px 10px 7px;
}

.huisdieren img:hover{
    transform: scale(7.0);
    transition-delay: 5s;
}



.ouders, .broer, .zus, .huisdieren{
        background-color: #202c3cac;
        border-radius: 5%;

        border: #334155 1px solid;
        text-align: center;
        box-shadow: #090d11ac 20px 10px 7px;
        height: 20rem;
        width: 12rem;
}

.ouders img, .broer img, .zus img, .huisdieren img{
    height: 40%;
    border-radius: 10%;
    width: 75%;
    padding: 5%;
}

.ouders h4{
    font-size: 15px;
}

.ouders p{
    color: rgba(255, 255, 255, 0.718);
}






#hobbys {
    background-color: #202c3cac;
    /* border: #010101 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


#hobbys h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 70px;
}

#hobbys p {
    font-size: 20px;
    margin-bottom: 6%;
    text-align: center;
}

.hob-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    /* border: #010101 2px solid; */
    gap: 20px;
    margin: 40px;
}

.gamen, .lopen, .muziek{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #334155 1px solid;
    border-radius: 3%;
    background-color: #202c3cac;
    box-shadow: #090d11ac 1px 10px 10px;
    width: 300px;
    height: 400px;

}


.gamen:hover, .lopen:hover, .muziek:hover{
   transform: scale(1.01);
}




.gamen h3, .lopen h3, .muziek h3{
    text-align: left;
}
.gamen p, .lopen p, .muziek p{
    text-align: left;
}

.gamen img, .lopen img, .muziek img{
    height: 9rem;
    width: 10rem;
    border-radius: 10%;
    margin-top: 1.5rem;
}

#opleiding{
    text-align: center;
    /* border:#010101 1px solid; */
    display: block;
    padding-top: 3rem;
}

#opleiding p{
    margin-bottom: 3.5rem;
}

.school-cards{
    /* border: #000000 1px solid; */
    display: flex;                  /* activeer flexbox */
    flex-direction: column;         /* onder elkaar zetten */
    align-items: center;            /* horizontaal centreren */
    
}


.huidigeopleiding, .middelbareschool, .bassischool{
    border: #334155 1px solid;
    width: 57.813rem;
    height: 18.375rem;
    text-align: left;
    font-size: 14px;
    margin-bottom: 1.9rem;
    border-radius: 10px;
    box-shadow: #1E293B 3px 3px 10px;
}

.huidigeopleiding p, .middelbareschool p, .bassischool p{
    text-align: left;
    margin-left: 20px;
}

.huidigeopleiding h3, .middelbareschool h3, .bassischool h3{
    text-align: left;
    margin-left: 20px;
    color: #00c3ff;
}

.huidigeopleiding h4, .middelbareschool h4, .bassischool h4{
    text-align: left;
    margin-left: 20px;
}

div time{
    color: grey;
}

#eten{
    background-color: #1E293B;
    text-align: center;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 15%;
}

.food-cards{
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center; /* dit is voor de horizontale ding */
    align-content: center; /* dit is voor de verticale ding */   /*let goed op dat je content gebruikt*/
    gap: 1rem;
    font-size: 13px;
}


.comfortfood, .chicken, .Kapsalon, .daggekijks{
    border-radius: 17px;
}

.comfortfood, .chicken{
    height: 150px;
    width: 200px; 
}

.Kapsalon, .daggekijks{
    height: 150px;
    width: 450px; 
}


.Kapsalon{
    background: linear-gradient(to bottom right, #49332D, #4B2C3D);
    border: #814023 2px solid;
    

}

.Kapsalon img, .comfortfood img, .daggekijks img, .chicken img{
    margin-top: 1%;
    width: 25px;
}

.comfortfood{
    background: linear-gradient(to bottom right, #16463F, #184647);
    border: #106D47 2px solid;
}

.daggekijks{
    background: linear-gradient(to right, #223E65, #1B4D64);
    border: #1F5994 2px solid;
}

.chicken{
    background: linear-gradient(to bottom right, #3A2E60, #4A2F53);
    border: #66368A 2px solid;
}



#projecten{
    text-align: center;
    margin-top: 5%;
    /* border:#010101 1px solid; */
    display: block;
    padding-top: 3rem;
    margin-bottom: 12rem;
}

#projecten h3, p{
 margin: 1%;
}

#projecten img{
    height: 50px;
    width: 50px;
}

.projecten-cards{
    /* border: #000000 1px solid; */
    display: flex;                  /* activeer flexbox */
    flex-direction: column;         /* onder elkaar zetten */
    align-items: center;            /* horizontaal centreren */
    
}

.text{
    margin: 2%;
}


.cards, .soon{
    border: #334155 2px solid;
    height: 8rem;
    width: 49%;
    margin-bottom: 2%;
    border-radius: 15px;
    box-shadow: #090d11ac 1px 10px 10px;
    display: flex;
    align-items: center;          /* verticaal centreren */
    padding: 1rem;
}

.tag {
    margin-right: 2%;
    border-radius: 10px;
    padding: 5px;
}

.school{
    background: red;
}

.home{
    background-color: #005be3;
    border: #116cf5 1px solid;
}





footer {
    /* border: #000000 8px solid; */
    background-color: #131D30; 
    height: auto;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}


footer div{
    height: 220px;
    width: 41.875rem;
    background-color: #182335;
    flex-wrap: wrap;
    border: #334155 1px solid;
    border-radius: 10px;
    padding: 1%;
    box-shadow: #090d11ac 10px 5px 10px;
}

footer aside{
    height: 24px;
    width: 24px;
    padding: 12px;
    border-radius: 15px;
}

.email aside{
    background: linear-gradient( to bottom right, #1C8BFE, #00AFE3);
}

.teams aside{
    background: linear-gradient( to bottom right, #4F2C91, #6264A7);
}

.teams {
    margin-bottom: 5rem;
}

.locatie aside{
    background: rgb(85, 85, 85);
}



footer h2 {
   font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 70px;
}

footer p {
    font-size: 20px;
    margin-bottom: 6%;
    text-align: center;
}


/* hier zie je dat alle p in een div in de footer worden aangepast */
footer div p {
    text-align: start;
    font-size: 15px;
}


.email:hover{
    transform: scale(1.05);
    background: #043f8438;
    border: #023b4d 1px solid;
    transition-duration: 300ms;
    transition-delay: 20ms;

}

.teams:hover{
    transform: scale(1.05);
    background-color: #4f2c9137;
    border: #023b4d 1px solid;
    transition-duration: 300ms;
    transition-delay: 20ms;

}

footer .volgme h3{
    margin-bottom: 40px;
}

footer .volgme a{
    border: #101828 5px solid;
    background-color: #101828;
    color: white;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-right: 400px;
    text-decoration: none;
}

.volgme a{
    transform: scale(1.3);
}